.row
  %h2 Add explaination

  = form_for explaination, html: { id: "new_explaination_form" } do |f|
    %fieldset
      = hidden_field :explaination, :transaction_id, value: transaction.id
      .row
        .large-8.columns
          = f.label :description
          = f.text_field :description
      .row
        .large-8.columns
          = f.label :category_id
          = f.collection_select :category_id, Category.all, :id, :name
      .row
        .large-8.columns
          = f.label :squad_id
          = select_tag 'explaination[squad_id]', options_from_collection_for_select(Squad.all, :id, :name),include_blank: true
      .row
        .large-2.columns
          .row.collapse
            = f.label :amount
            .small-3.columns
              %span.prefix &pound;
            .small-9.columns
              = f.number_field :amount, 
                value: number_with_precision(transaction.unexplained_amount,
                                             precision: 2)

      .large-12.columns
        = f.submit 'Add explaination', class: 'button'
