%h1 New Transaction
= form_for @transaction do |f|
  .large-6.columns
    %div
      = f.label :date
      = f.date_field :date
    %div
      = f.label :description
      = f.text_field :description
    %div
      .large-3.columns
        %label Transaction type
        .switch
          = f.radio_button :is_credit?, "0", id: "is_credit_debit", checked: "checked"
          %label{:for => "is_credit_debit", onclick: ""} Debit
          = f.radio_button :is_credit?, "1", id: "is_credit_credit"
          %label{:for => "is_credit_credit", onclick: ""} Credit
          %span
      .large-3.columns
        = f.label :amount
        = f.number_field :amount
  .large-12.columns
    = f.submit 'Create transaction', class: 'button'
