%h1 New Transaction
= form_for @transaction do |f|
  %div
    = f.label :date
    = f.date_field :date
  %div
    = f.label :description
    = f.text_field :description
  %div
    = f.label :amount
    = f.number_field :amount
  = radio_button_tag 'transaction[amount_type]', 'credit'
  = radio_button_tag 'transaction[amount_type]', 'debit'
  = f.submit 'Create transaction'
