.row
  %h1 View transaction
  %table
    %tr
      %td= @transaction.date
      %td= @transaction.label
      %td= @transaction.display_value
      %td= @transaction.is_credit ? "credit" : "debit"
      %td 
        - if @transaction.explained?
          %span.success.label explained
        - else
          %span.alert.label unexplained

  - unless @transaction.explained?
    .panel
      != "#{number_to_currency(@transaction.unexplained_amount)} of this transaction is unexplained"
    = render partial: 'explainations/form', locals: { explaination: Explaination.new, transaction: @transaction}

  - unless @transaction.explainations.empty?
    %h2 Explainations
    %table#table_explainations
      %thead
        %tr
          %td Reason
          %td Amount
          %td Category
          %td Squad
      %tbody     
        - @transaction.explainations.each do |explaination|
          %tr
            %td= explaination.description
            %td!= number_to_currency explaination.amount
            %td 
              - if explaination.category.present?
                = explaination.category.name
            %td
              - if explaination.squad.present?
                = explaination.squad.name

